:root {
    --info-clr: aqua;
    --secondary-clr: grey;
    --danger-clr: magenta;
    --success-clr: #49fb35;
    --info-subtle: slateblue;
    --danger-almost: #a424ff;
    --body-clr: black;
    --primary-clr: #09155a;
    --light-clr: white;
    --light-2nd: #d8f8f8;
    --dark-clr: #333333;
    --border-clr: #20678b;

    --border-std: 5px solid #20678b;
    --text-dec-std: none;
    --text-dec-line: underline;

    --font-main: papyrus;
    --font-sec: arial-bold;

    --fw-norm: 300;
    --fw--normbr: 500;
    --fw--bright: 700;
    --fw--bright-wow: 900;

    --fs--heading: 65px;
    --fs--subhead: 45px;
    --fs--pagehead: 40px;
    --fs--text: 24px;
    --fs-text-hover: 27px;
    --fs-text-small: 16px;

    /* Bootstrap Example*/
    --bs-text-red: indigo;

}


body {
    font-family: var(--font-fam), fantasy;
    color: var(--info-clr)
}

h1 {
    font-family: var(--font-main);
    color: var(--info-clr);
}


h2 {
    color: var(--info-clr);
    font-family: var(--font-main);
}

/* Used in SubHead */
h3 {
    padding: 2px;
    font-family: var(--font-main);
    font-size: var(--fs--subhead);
    color: var(--info-clr);
    font-weight: var(--fw--bright)
}


/* Used for Card Headings */
h4 {
    padding: 2px;
    font-family: var(--font-main);
    font-size: 40px;
    color: var(--danger-almost);
    font-weight: var(--fw--bright-wow);
    text-decoration: var(--text-dec-line);
}

/*Used in Footer Headings*/
h5 {
    color: var(--danger-clr);
    padding: 5px;
    font-size: 40px;
    font-family: var(--font-main);
    font-weight: var(--fw--normbr);
    text-decoration: var(--text-dec-line)
}


a,
link,
.link {
    color: var(--info-clr);
    font-size: 25px;
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--normbr);

}

a:hover,
link:hover,
.link:hover {
    color: var(--danger-almost);
    font-size: 27px;
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--bright-wow);
}


p {
    color: var(--info-subtle);
    font-size: 25px;
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--bright);
    font-family: var(--font-main);
}

/*Formik*/
.label-text {
    background-color: var(--body-clr);
    color: var(--info-clr);
    font-family: var(--font-sec);
    font-weight: var(--fw--bright);
    font-size: var(--fs-text-hover);
    padding: 1px;
    margin: 1px 5px 5px;
}

/*Buttons*/
.btn:hover {
    color: var(--body-clr);
    background-color: var(--info-clr);
    border: 5px solid var(--light-clr);
    border-radius: 15px;
    box-shadow: 0 8px var(--primary-clr);
}

.btn:active {
    background-color: var(--body-clr);
    color: var(--info-clr);
    box-shadow: 0 5px var(--secondary-clr);
    transform: translateY(5px);

}

.btn,
.btn:visited,
.btn:link,
.btn:disabled {
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-main);
    outline: none;
    color: var(--info-clr);
    background-color: var(--info-subtle);
    border: 5px solid var(--secondary-clr);
    border-radius: 15px;
    box-shadow: 0 8px var(--dark-clr);
}


/*card related*/
.card {
    border: var(--border-clr) ridge 3px;
    background-color: var(--body-clr);
    opacity: .99;
}

.card-title {
    color: var(--danger-almost);
    font-weight: var(--fw--bright-wow);
    font-size: var(--fs--subhead);
    border: var(--border-clr) ridge 5px;
    background-color: var(--body-clr);
}

.card-body {
    font-family: var(--font-main);
    color: var(--light-2nd);
}


.card-text {
    color: var(--info-clr);
    text-decoration: var(--text-dec-std);
}

.card-img-overlay>.card-title {
    color: var(--danger-clr);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 900;
    font-size: 65px;
}

.card-img {
    border: #20678b ridge 3px;
    background-color: black;
}


/* General Utilities */
.row-border {
    padding: 50px 0;
    border-bottom: 5px ridge;
    min-height: 200px;
}


/*Entry and exit for opacity and trans values from Spring -- see styles.module.css for more*/
.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

/* Footer */
.site-footer {
    background-image: radial-gradient(black, #09155a);
    padding: 20px 0;
    margin-top: black 4rem;
    border-top: #3894c2 solid;
    font-family: papyrus;
}


/*Heading material with ids*/
#navhead {
    /* background-color: #901cad; */
    background-image: radial-gradient(black, #09155a);
    border-bottom: #20678b solid 1px;
    margin-bottom: 0rem;
    min-height: 1rem;
    font-family: papyrus;
}

#headerhead {
    /* background-color: #901cad; */
    background-image: radial-gradient(#09155a, black);
    border-bottom: #20678b solid 2px;
    margin-bottom: 1rem;
    padding-top: 4rem;
    min-height: 15rem;
    font-family: papyrus;
}

/* Guide Site Map Links */
#linkCSS {
    color: var(--info-clr);
    padding: 15px;
    margin: 20px;
    font-size: 35px;
    font-family: var(--font-main);
    font-weight: 500;
    text-decoration: none;
}

#linkCSS:hover {
    color: var(--danger-almost);
    padding: 15px;
    margin: 20px;
    font-size: 37px;
    font-family: var(--font-main);
    font-weight: 900;
    text-decoration: none;
}