:root {
    --info-clr: aqua;
    --secondary-clr: grey;
    --danger-clr: magenta;
    --success-clr: #49fb35;
    --info-subtle: slateblue;
    --danger-almost: #a424ff;
    --body-clr: black;
    --primary-clr: #09155a;
    --light-clr: white;
    --light-2nd: #d8f8f8;
    --dark-clr: #111115;
    --border-clr: #20678b;
    --border-2nd-clr: #3498c2;

    --border-std: 5px solid #20678b;
    --text-dec-std: none;
    --text-dec-line: underline;

    --font-main: papyrus;
    --font-sec: arial-bold;

    --fw-norm: 300;
    --fw--normbr: 500;
    --fw--bright: 700;
    --fw--bright-wow: 900;

    --fs--heading: 65px;
    --fs--subhead: 45px;
    --fs--pagehead: 40px;
    --fs--text: 24px;
    --fs-text-hover: 27px;
    --fs-text-small: 16px;
    --fs-link: 35px;

}


body {
    font-family: var(--font-fam), Arial;
    color: var(--info-clr)
}

h1 {
    font-family: var(--font-main);
    color: var(--info-clr);
}


h2 {
    color: var(--info-clr);
    font-family: var(--font-main);
}

/* Used in SubHead */
h3 {
    padding: 2px;
    font-family: var(--font-main);
    font-size: var(--fs--subhead);
    color: var(--info-clr);
    font-weight: var(--fw--bright)
}

h3::before {
    background: var(--info-subtle);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    z-index: -1;
}

h3:hover::before {
    transform: scaleY(1);

}


/* Used for Card Headings */
h4 {
    padding: 2px;
    font-family: var(--font-main);
    font-size: var(--fs--pagehead);
    color: var(--danger-almost);
    font-weight: var(--fw--bright-wow);
    text-decoration: var(--text-dec-line);
}

/*Used in Footer Headings*/
h5 {
    color: var(--danger-clr);
    padding: 5px;
    font-size: var(--fs--subhead);
    font-family: var(--font-main);
    font-weight: var(--fw--normbr);
    text-decoration: var(--text-dec-line)
}

:is(a) {
    color: var(--info-clr);
    font-size: var(--fs--text);
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--normbr);

}

a:is(:hover) {
    color: var(--danger-almost);
    font-size: var(--fs-text-hover);
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--bright-wow);
}


p {
    color: var(--info-subtle);
    font-size: var(--fs--text);
    text-decoration: var(--text-dec-std);
    font-weight: var(--fw--bright);
    font-family: var(--font-main);
}

/*Formik*/
.label-text {
    background-color: var(--body-clr);
    color: var(--info-clr);
    font-family: var(--font-sec);
    font-weight: var(--fw--bright);
    font-size: var(--fs-text-hover);
    padding: 1px;
    margin: 1px 5px 5px;
}

/*Buttons*/
.btn:is(:hover) {
    color: var(--body-clr);
    background-color: var(--info-clr);
    border: 5px solid var(--light-clr);
    border-radius: 15px;
    box-shadow: 0 8px var(--primary-clr);
}

.btn:is(:active) {
    background-color: var(--body-clr);
    color: var(--info-clr);
    box-shadow: 0 5px var(--secondary-clr);
    transform: translateY(5px);

}

.btn:is(:visited, :link, :disabled) {
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-main);
    outline: none;
    color: var(--info-clr);
    background-color: var(--info-subtle);
    border: 5px solid var(--secondary-clr);
    border-radius: 15px;
    box-shadow: 0 8px var(--dark-clr);
}


/*card related*/
.card {
    border: var(--border-clr) ridge 3px;
    background-color: var(--body-clr);
    opacity: .99;
}

.card-title {
    color: var(--danger-almost);
    font-weight: var(--fw--bright-wow);
    font-size: var(--fs--subhead);
    border: var(--border-clr) ridge 5px;
    background-color: var(--body-clr);
}

.card-body {
    font-family: var(--font-main);
    color: var(--light-2nd);
}


.card-text {
    color: var(--info-clr);
    text-decoration: var(--text-dec-std);
}

.card-img-overlay>.card-title {
    color: var(--danger-clr);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--body-clr);
    font-weight: var(--fw--bright-wow);
    font-size: var(--fs--heading);
}

.card-img {
    border: #20678b ridge 3px;
    background-color: var(--body-clr);
}


/* General Utilities */
.row-border {
    padding: 50px 0;
    border-bottom: 5px ridge;
    min-height: 200px;
}


/*Entry and exit for opacity and trans values from Spring -- see styles.module.css for more*/
.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

/* Footer */
.site-footer {
    background-image: radial-gradient(var(--body-clr), var(--primary-clr));
    padding: 20px 0;
    margin-top: var(--body-clr) 4rem;
    border-top: var(--border-2nd-clr) solid;
    font-family: var(--font-main);
}


/*Heading material with ids*/
#navhead {
    /* background-color: #901cad; */
    background-image: radial-gradient(var(--body-clr), var(--primary-clr));
    border-bottom: var(--border-clr) solid 1px;
    margin-bottom: 0rem;
    min-height: 1rem;
    font-family: var(--font-main);
}

#headerhead,
.site-header {
    /* background-color: #901cad; */
    background-image: radial-gradient(var(--primary-clr), var(--body-clr));
    border-bottom: var(--border-clr) solid 2px;
    margin-bottom: 1rem;
    padding-top: 4rem;
    min-height: 15rem;
    font-family: var(--font-main);
}

.headstyle {
    color: var(--info-subtle);
    padding: 8px;
    font-size: var(--fs--heading);
    font-family: var(--font-main)
}

;

/*carousel*/
.carousel-control,
.previous-Button,
.next-Button {
    color: var(--info-clr);
    background-color: var(--body-clr);
    opacity: .1;

}


.carousel-control:focus {
    color: var(--info-clr);
    opacity: .1;
    transition-property: background-color;
    transition-duration: 200ms;
    background-color: var(--body-clr);
}

.carousel-control:is(.previous-Button:hover,
    .next-Button:hover, :hover) {
    color: var(--info-clr);
    background-color: var(--dark-clr);
    opacity: 1;

}

/*Front Carousel image -- ID because we have many other link>img*/
#uc {
    cursor: default;
    opacity: .97;
    color: #000;
    position: relative;
    text-decoration: none;
}

#uc:is(:hover, #uc:active,
    #uc:focus) {
    cursor: crosshair;
    opacity: 1;
    background-color: var(--dark-clr);
}

/* Guide Site Map Links */
#linkCSS,
#linkCSS:focus {
    color: var(--info-clr);
    padding: 15px;
    margin: 20px;
    font-size: 35px;
    font-family: var(--font-main);
    font-weight: var(--fw--bright);
    text-decoration: var(--text-dec-std)
}

#linkCSS:hover {
    color: var(--danger-almost);
    padding: 15px;
    margin: 20px;
    font-size: 37px;
    font-family: var(--font-main);
    font-weight: var(--fw--bright-wow);
    text-decoration: var(--text-dec-std);
}