
body {
    font-family: 'papyrus', fantasy;

}

h1,
h2,
h3,
.card-body > .card-title {
    font-family: 'papyrus', fantasy;

}

h1 {
    font-family: 'papyrus';
    color: slateblue;
}


.card-title {
    font-weight: 500;
    font-size: 1.25rem;
    font-family: papyrus;
    color:#901cad;
}
.card-body{
    
    font-family: papyrus;
    color:aqua;
}
h2 {
    color: aqua;
}

.card-img-overlay .card-title {
    color: #061568;
    font-size: 35px;
    background-color: rgba(0, 0, 0, .2);
    font-family: papyrus;
}

.row-content {
    padding: 50px 0;
    border-bottom: 0px ridge;
    min-height: 200px;
}

.site-footer {
    background-image: radial-gradient(black, #09155a );
    padding: 20px 0;
    margin-top: black 4rem;
    border-top: #3894c2 solid;
    font-family: papyrus;
}


.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: 300ms ease-in;
}

#title{
    font-size: 75px;
    color:fuchsia;
    font-family: papyrus;
}

#siteRefs{
    font-size: 14px;
}

#navhead{
    /* background-color: #901cad; */
    background-image: radial-gradient(black, #09155a );
    border-bottom: #20678b solid 1px;
    margin-bottom: 0rem;
    min-height: 1rem;
    font-family: papyrus;
}

#headerhead{
    /* background-color: #901cad; */
    background-image: radial-gradient( #09155a,black );
    border-bottom: #20678b solid 2px;
    margin-bottom: 1rem;
    padding-top: 4rem;
    min-height: 15rem;
    font-family: papyrus;
}

#frontcard {
    color: blue;
    border: #20678b ridge 5px;
    background-color: black;
}

#bgcard {
    border: #2e80aa ridge 5px;
    background-color: black;
}

#gdetail {
    border: #20678b ridge 5px;
    background-color: black;
}

#footsy{
    color: aqua;
    font-size: 20px;
    font-family: papyrus
}

